html , body {
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Boxsample {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  height: 10cm;
  width: 10cm;
  

}
